* {
padding: 0;
margin: 0;
font-family: lato;
box-sizing: border-box;
}
@font-face {
    font-family: lato;
    src: url(images/Lato-Regular.ttf);
}
html, body, header, .ContainerCapsule, .ContainerAllCapsules, .capsule  {
  display: flex;
  flex-direction: column;
  
}
html, body, header {
  align-items: center;
}

body {
  width: 95%;
  margin: 30px 0 ;
}
header {
  width: 100%;
  height: 95vh;
  color: white;
  gap: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-size: cover;
  background-image: linear-gradient(to right bottom, #b20ecf46, #ca5ad72f), url(images/spacex.jpg);
  margin-bottom: 10px;
}

.rocket {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  padding-top: 104px;
}
.logoHeader {
position: absolute;
width:5%;
left: 0;
margin-left: 55px;
margin-top: 30px;
}
header>h2 {
  font-size: 20px;
  letter-spacing: 10px;
  padding-bottom: 43px;
}
header>button {
  font-size: 15px;
  color: #767676;
  padding: 20px 41px;
  border: none;
  border-radius: 50px;
  background-color: white;

}

.ContainerCapsule, .ContainerAllCapsules {
  color: #5A5A5A;
  font-size: 12px;
  width: 100%;
  gap: 13px;
  margin-bottom: 10px;
}
.ContainerAllCapsules{
  align-items: center;
}
.ContainerAllCapsules>h1{
 align-self: baseline;
}
.ContainerButtonCapsule, .ContainerJSON {
  display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.capsule {
  gap: 3px;
  padding: 35.5px 2.5%;
  color: #ffffff;
  width: 30.3333333333%;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(3,6,26,.15);
  transition: all .3s;
  font-size: 8px 
}
.capsule>h1 {
    font-weight: 500;
}
.capsule>img {
  width: 29px;
  place-self: center;
  margin-bottom: 3px;
}
#capsuleActive {
    background:linear-gradient(0deg, #7367F0  0%,#CE9FFC 100%);
}
#capsuleDestroyed {
    background:linear-gradient(0deg, #5e2563  0%,#65799b 100%);
}
#capsuleUnknown {
    background:linear-gradient(0deg, #ea6060  0%,#7117ea 100%);
}

.elementContainer>p {
  font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #5a5a5a;
}
.elementContainer>h1 {
  font-size: 19px;
  line-height: 1.7;
  color: #5a5a5a;

}
.elementContainer>img {
  width: 12px;
  position: absolute;
  margin-left: 101px;
  margin-top: -32px;
}
.elementContainer {
  width: 20%;
  margin: 1%;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  transition: all .3s;
  box-shadow: 0 2px 5px 0 rgba(3,6,26,.15);
  
}
footer {
  font-family: sans-serif;
  color: white;
  width: 100%;
  padding: 41px 0;
  background-color: #370d3f;
  text-align: center;
  font-size: 15px;
}




.text-box {
 display: flex;
 place-content: center;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 19px 40px;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}